/.venv
__pycache__/
config.json
/build
/dist
/audio/
/devices
/visualization
/lightshow.egg-info
.pdm-build
packaging/installer/*
!packaging/installer/lightshow.nsi
!packaging/installer/icons/*
!packaging/installer/lightshow.desktop
!packaging/installer/lightshow.appdata.xml
!packaging/installer/AppRun
